.header {
    display: flex;
    align-items: center;
    background-color: #FCFCFC;
    color: black;
    padding: 20px;
  }
  
  .logo {
    width: 200px;
    height: auto;
    margin-right: 20px; /* Add margin to create space between the logo and other content */
  }
  @media (max-width: 600px) {
    .header {
      flex-direction: column; /* Stack items vertically on smaller screens */
      text-align: center; /* Center text in the header */
    }
  
    .logo {
      margin-right: 0; /* Remove right margin on smaller screens */
      margin-bottom: 10px; /* Add bottom margin to create space between the logo and other content */
    }
  }
 /* PatientHome.css */

.menu-bar {
  position: fixed;
  top: 0;
  right: -250px; /* Initially hidden off-screen */
  width: 250px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
  transition: right 0.3s ease; /* Smooth transition effect */
}

.menu-bar.open {
  right: 0; /* Display the menu bar when the 'open' class is applied */
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.edit-input {
  width: 100%;
  margin-bottom: 10px;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
  color: black;
  font-size: 24px;
}

.menu-toggle.cross {
  font-size: 30px;
}

.edit-bio-button {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
